.navbar {
  margin: 0;
  padding: 1rem;
  background-color: #333;
  padding: 2rem;
}

.navbar a {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;
}

.active-link {
  text-decoration: underline;
}